// .signInForm{
   
// 	// height: 100vh;
//     margin-top: 50px;
// 	display: flex;
//     //  flex-direction: column;
// 	// text-align: center;
// 	// align-items: center;


.Registrationtitle {
    margin-left: 1px;
	text-align: center;
	width: 30vw;
	background-color: rgb(21, 146, 174);
	padding: 2vw 1vw;
	border-radius: 10px 10px 0 0;
	font-size: 2rem;
    color:aliceblue;
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registrationForm{
    margin-left: 100px;
}
.logInForm{
    margin-left: 50px;
}

.LogIntitle {
    margin-left: 1px;
	text-align: center;
	width: 30vw;
	background-color: rgb(21, 146, 174);
	padding: 2vw 1vw;
	border-radius: 10px 10px 0 0;
	font-size: 2rem;
    color:aliceblue;
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formInputs {
	//text-align: center;
	display: flex;
	flex-direction: column;
	//margin: auto;
	width: 30vw;
	padding: 2vw 1vw;
	background-color: rgb(161, 206, 223);
	border-radius: 0 0 10px 10px;
}

input {
	border: 1px solid rgb(172, 171, 171);
	border-radius: 10px;
	padding: 1vw 1vw;
	outline: none;
	margin: 5px;
}

