body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // font-family: 'Pacifico', cursive,'Sacramento','Ysabeau Infant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //Added CSS here
  background-color: #00becc;
background-image: url("https://www.transparenttextures.com/patterns/felt.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
  // font-family: 'Ysabeau Infant', sans-serif;

// font-family: 'Sacramento', cursive;
//font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Ysabeau Infant', sans-serif;



}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}